
.wallpaper{
  background-image: url("../../../../assets/wallpaperpanteranegra.png");
  background-size: cover;
  background-position: center;
  flex: 1;
  width: 100%;
}

.login_card{
  width: 383px;
  height: 605px;
}

.link_login{
  text-decoration: none;
  color: #5048E5;
}

.logo_capflix{
  margin-top: -5rem !important;
}

@media only screen and (max-width: 400px) {
  .login_card{
    width: 330px;
    height: 580px;
  }

  .logo_capflix{
    margin-top: -4rem !important;
  }

  .login_signin_nome_logo{
    margin-bottom: 1rem !important;
  }

  .login_signin_title{
    margin-top: 1rem !important
  }
}

.logo_capflix_image{
  color: #fff;
}

.button_login{
  background-color: #12ABDB;
  color: #fff;
}

.forgot_password{
  text-decoration: none;
  color: #5048E5;
}

.form-check {
  margin-left: 4px;
}

.form-check-input:checked{
  background-color: #5048E5 !important;
}

.separator_ou {
  margin-top: 7px;
  margin-bottom: 2rem;
  position: absolute;
  font-weight: bolder;
}

.separator_login{
  width: 40%;
  border-top: 3px solid #000000;
  border-radius: 10px;
  background-color: #000000;
  margin-bottom: 1rem;
}

.login_visibility_icon{
  cursor: pointer;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
